:root {

    --cordovan: #90323dff;
    --old-rose: #b57e78ff;
    --alabaster: #ece5d9ff;
    --dun: #d9cab3ff;
    --lion: #cba574ff;
    --bronze: #bc8034ff;
    --chamoisee: #a47d50ff;
    --beaver: #8c7a6bff;
}
aside{
    float: left;
    width: 20%;
    margin-top: 2rem;
    margin-right: 20px;
    padding: 1rem;
    margin-left: 1rem;
    background-color: var(--cordovan);
    color: var(--alabaster);
    border: none;
    border-radius: 10px;
    position: absolute left;
}
main>article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr .5fr;
    color: var(--alabaster);
}
main>article>p{
    align-items: center;
    justify-self: center;
}
.notification {
    position:absolute;
    top: 20%;
    right: 20px;
    background-color: var(--cordovan);
    color: var(--alabaster);
    padding: 1rem;
    border-radius: 10px;
    animation: fadeOut 2s ease-in-out forwards;
    z-index: 1000;
}
#products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    gap: 2rem;
    padding: 2rem;
}
.no-results {
    color: var(--cordovan);
    text-align: center;
    margin-top: 4rem;
    padding: 2rem;
    background-color: var(--alabaster);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#products article {
    background-color: var(--chamoisee);
    border-radius: 10px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr .5fr;
    align-items: center;
    color: var(--alabaster);
}

#products article img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

#products article button {
    background-color: var(--old-rose);
    color: var(--alabaster);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1rem;
}

#products article button:hover {
    background-color: #a25259;
}
.category-filters {
    display: grid;
    grid-template-columns: auto;
    gap: 0.5rem;
    margin-top: 1rem;
}

.filter-btn {
    background-color: var(--old-rose);
    color: var(--alabaster);
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: #a25259;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    80% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}
@media screen and (max-width: 1024px) {
    aside {
        float: none;
        position: static;
        width: auto;
        margin: 1rem;
    }
    .category-filters{
        display: grid;
        grid-template-columns: auto auto;
        gap: 0.5rem;
        margin-top: 1rem;
    }
}